.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5em;
  min-width: 220px;
  height: 100vh;
  background-color: var(--light-color);
}

.sidebar__title {
  text-align: center;
  margin-top: 40px;
  font-size: 0.8em;
}

.sidebar-nav__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  text-align: center;
}

.sidebar-nav__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-nav__item i {
  margin-top: 3px;
  color: #dddddd;
}

.sidebar-nav__item-link {
  color: #dddddd;
}

.sidebar-nav__item:hover i,
.sidebar-nav__item:hover a {
  color: #fff;
}
