.crypto-dashboard {
  width: calc(100% - 220px);
  margin-left: 220px;
}

.crypto-dashboard__widgets {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  background: var(--dashboard-nav-bg-color);
  height: 12vh;
  padding: 0 50px;
}

.crypto-dashboard__widgets-list {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.crypto-dashboard__widgets-list li i,
.convert-button {
  transition: 0.2s;
  cursor: pointer;
}

.crypto-dashboard__content {
  display: flex;
  padding: 30px;
  padding-right: 60px;
  color: #fff;
  width: 100%;
  gap: 30px;
}

.crypto-dashboard__balance {
  display: flex;
  padding-bottom: 20px;
}

.crypto-dashboard__balance span {
  color: var(--red-color);
  background: rgba(255, 99, 99, 0.124);
  padding: 5px 10px;
  border-radius: 120px;
}

.input-search,
.convert-input select,
.convert-input input {
  border: none;
  padding: 8px;
  border-radius: 5px;
  outline: none;
}

.input-search {
  color: var(--bg-color);
  border-radius: 20px;
}

.lupita {
  display: flex;
  align-items: center;
  background: #fff;
  color: #000;
  border-radius: 20px;
}

.lupita i {
  font-size: 1.3em;
  margin-right: 10px;
}

.crypto-dashboard__widgets-list i:hover {
  color: var(--quaternary-color);
}

.crypto-dashboard__balance ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crypto-dashboard__balance h2 {
  font-size: 2em;
  font-weight: bold;
}

.crypto-dashboard__slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  overflow-y: hidden;
  margin: 30px;
}

.crypto-dashboard__slider-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 250px;
  min-width: 250px;
  height: 135px;
  background: var(--dashboard-nav-bg-color);
  padding: 12px;
  border-radius: 10px;
}

.crypto-dashboard__slider-item ul {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.crypto-dashboard__slider-item ul:first-child p {
  font-weight: 500;
}

.crypto-dashboard__slider-item:first-child i {
  font-size: 25px;
  background: #24334d;
  color: var(--extra-light-color);
  padding: 3px 2px;
  border-radius: 5px;
}

.crypto-dashboard__slider-item img {
  height: 25px;
  width: 25px;
  margin-top: 4px;
}

.crypto-dashboard__slider-item span {
  font-size: 1.3em;
  font-weight: 500;
}

.crypto-dashboard__slider-item ul:last-child p {
  font-size: 0.8em;
}

.profit {
  color: #858585;
  text-wrap: nowrap;
}

.daily-change,
.pct-change {
  color: var(--green-color);
}

.pct-change {
  border-radius: 20px;
  padding: 3px;
}

.crypto-dashboard__graph,
.convert,
.assets {
  padding: 20px;
  border-radius: 20px;
  background: var(--dashboard-nav-bg-color);
}

.crypto-dashboard__graph {
  flex: 1;
  min-width: calc(100% - 300px);
}

.crypto-dashboard__info {
  display: flex;
  gap: 20px;
}

.convert,
.assets {
  max-width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.convert-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.convert-input select {
  background: #1dae9b30;
  color: var(--green-color);
}

.convert-input:nth-child(3) select {
  color: #ce7616;
  background: #3d2f05;
}

.convert-input input {
  width: 90%;
  padding: 10px 15px;
  background: var(--dashboard-bg-color);
  color: #fff;
}

.convert-button {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  background: var(--extra-light-color);
  color: #fff;
  font-weight: 500;
}

.convert-button:hover {
  background: #0ea3e8aa;
}


@media  screen and (min-width: 1026px) {
  .crypto-dashboard__info {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1025px) {
  .crypto-dashboard__slider {
    margin-bottom: 0;
  }

  .crypto-dashboard__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }

  .crypto-dashboard__info {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .assets,
  .convert {
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    background: var(--dashboard-nav-bg-color);
  }
}

@media screen and (max-width: 860px) {
  .crypto-dashboard__info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin: auto;
  }

  .assets,
  .convert {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .crypto-dashboard {
    width: 100%;
    margin-left: 0;
  }

  .crypto-dashboard__widgets {
    padding-left: 40px;
  }

  .crypto-dashboard__widgets-list {
    gap: 5px;
  }

  .bx-notepad,
  .bx-align-left,
  .bx-message-square,
  .bx-bell,
  .bx-user,
  .bx-brightness {
    display: none;
  }


  .crypto-dashboard__content {
    display: flex;
    padding: 30px;
    margin-right: 30px;
    color: #fff;
    width: 100%;
    gap: 30px;
  }

}
