.crypto-dashboard {
  width: 100%;
  height: 100%;
  background-color: #010019;
}

.crypto-dashboard__widgets {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  background-color: var(--light-color);
  height: 12vh;
  padding: 0 50px;
}

.crypto-dashboard__widgets-list {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.crypto-dashboard__widgets-list li i {
  transition: 0.2s;
  cursor: pointer;
}

/* Crypto dashboard content */
.crypto-dashboard__content {
  padding: 30px;
  color: #fff;
  width: 70%;
}

/* Crypto dashboard Balance */

.crypto-dashboard__balance {
  display: flex;
  padding-bottom: 20px;
}
.crypto-dashboard__balance span {
  color: var(--red-color);
  background-color: rgba(255, 99, 99, 0.124);
  padding: 5px 10px;
  border-radius: 120px;
}

.input-search {
  border: none;
  padding: 8px;
  outline: none;
  border-radius: 20px;
  color: var(--bg-color);
}

.lupita {
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.lupita i {
  font-size: 1.3em;
  margin-right: 10px;
}

.crypto-dashboard__widgets-list i:hover {
  color: var(--quaternary-color);
}

.crypto-dashboard__balance ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crypto-dashboard__balance h2 {
  font-size: 2em;
  font-weight: bold;
}

/* SLIDER ITEMS */
.crypto-dashboard__slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-top: 30px;
  margin-left: 30px;
}

.crypto-dashboard__slider-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 250px;
  min-width: 250px;
  background-color: var(--light-color);
  padding: 12px;
  border-radius: 10px;
}

/* SLIDER ITEMS UL */
.crypto-dashboard__slider-item ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crypto-dashboard__slider-item ul:first-child p {
  font-weight: 500;
}

.crypto-dashboard__slider-item ul:last-child {
  display: flex;
  justify-content: space-between;
}

.crypto-dashboard__slider-item i {
  font-size: 25px;
  background-color: #24334d;
  color: var(--extra-light-color);
  padding: 2px;
  padding-top: 3px;
  border-radius: 5px;
}

.crypto-dashboard__slider-item img {
  height: 25px;
  width: 25px;
  margin-top: 4px;
}

.crypto-dashboard__slider-item span {
  font-size: 1.3em;
  font-weight: 500;
}

.crypto-dashboard__slider-item ul:last-child p {
  font-size: 0.8em;
}

.profit {
  color: #858585;
  text-wrap: nowrap;
}

.pct-change {
  border-radius: 20px;
  padding: 3px;
}
